/* This is a global variable attached to the root element */
:root {
    --seafoam-green: rgb(74, 170, 165);
}

.container-bkgd {
    background-color: var(--seafoam-green);
}

.navbar-light .navbar-brand {
    color: white;
    background-color: var(--seafoam-green);
    margin-left: 1.5%;
}

.bg-theme-white {
    background-color: rgb(247, 248, 249);
}

#container-background {
    background: url(../images/ignasi_pattern_s.png);
}

#card-aboutme {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 2.5%
}

#card-aboutme h1 {
    color: var(--seafoam-green);
}

#card-aboutme img {
    max-width: 33%;
}
