/* global variable attached to root element */
:root {
    --seafoam-green: rgb(74, 170, 165);
    --footer-verydarkgrey: rgb(102, 102, 102);
    --footer-text-darkgrey: rgb(108, 117, 125);
}

html{
    position: relative;     /* sticky footer */
    min-height: 100%        /* sticky footer */
}

html,
body {
    height: 100%;           /* Bkgd-img fill vert */
    margin-bottom: 65px;    /* sticky footer */
}

body {
    overflow: scroll;       /* Always show scrollbars */
    margin-bottom: 65px;    /* sticky footer by footer height */
}

/* Footer link text styling and vert. pos. datum */
.footer a, span{
    position: sticky;
    color: var(--footer-text-darkgrey);
    text-decoration: none;
}

/* Footer link state styling */
.footer a:hover {
    color: white;
}

/* Footer container class */
.footer {
    position: sticky;
    bottom: 0;                 /* footer vertical pos. datum */
    width: 100%;
    height: 65px;               /* footer height */
    line-height: 60px;          /* Center text vertically */
    background-color: var(--footer-verydarkgrey);
    color: var(--footer-text-darkgrey);
    text-align: center;
}

/* Derived footer container class */
.container {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

/* Derived footer container class */
.container.footer-top {
    position: sticky;
    width: 100%;
    height: 5px;
    background-color: var(--seafoam-green);
}

/* Derived footer container class */
.container.footer-bottom {
    position: sticky;
    width: 100%;
    height: 60px;
    background-color: var(--footer-verydarkgrey);
}

/* Container hosting background image */
#container-background {
    background: url(../images/ignasi_pattern_s.png);
}

/* Navbar root link styling */
.navbar-light .navbar-brand {
    color: white;
    background-color: var(--seafoam-green);
    font-family: 'Libre Baskerville', serif;
    text-decoration: none;
}

/* Navbar root link styling */
.navbar-brand:hover {
    color: darkgray;
}

/* Navbar background-color theme styling */
.bg-theme-white {
    background-color: rgb(247, 248, 249);
}

/* Form button theme styling */
.btn-theme-greenwhite {
    color: white;
    background-color: var(--seafoam-green);
    border-color: var(--seafoam-green);
    border-radius: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

/* Body content container */
#card-content-box {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* Body content container element */
#card-content-box h1 {
    color: var(--seafoam-green);
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0%;
}

.nav-link {
    float: right;
}

/* Media queries for layout specification */
@media screen and (min-width: 992px){
    #card-content-box img {
        width: 47%;
        max-width: 47%;
        max-height: 47%;
    }
}

@media screen and (max-width: 991px){
    #card-content-box img {
        width: 90%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 768px){
    #card-content-box img {
        width: 90%;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 575px){
    #card-content-box img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
}